/*Variable Declarations*/
$text-primary: #525252;
$text-dark: #565656;
$purple-primary: #473d75;

$blue-primary: #363d93;
$blue-dark: #292f70;

$red-primary: red;
$green-primary: green;
$green-light: lightgreen;
$blue-theme-primary: blue;
$blue-theme-light: lightblue;

$dark-theme-menu: #212121;
$dark-theme-bg: #181818;
$dark-theme-btn: #aaaaaa;
$dark-theme-btn-hvr: #3d3d3d;

$orange-primary: #fe4848;
$orange-dark: #e40101;

$white-primary: #fff;
$black-primary: #000;
$black-text: #2c2c2c;
$white-bg: #f8f9fa;

$grey-primary: #808080;
$grey-light: #ddd;
$grey-text: #989898;
$grey-hr-underline: #dfe0e1;

$grey-text-cancel: #979797;
$grey-text-outline: #d0d7dc;
