@import "./../styles/variables";
@import "./../styles/mixins";

.bodybg-color {
  background-color: #ccc;
}
.content-block {
  @include flexcenter-column();
}
.headline {
  text-align: center;
}
a {
  @include flexcenter-column();
  color: $grey-primary;
}
