@import "./../styles/variables";
@import "./../styles/mixins";
@import "./../../styles.scss";

.header-main {
  @include flexcenter-column();
  background-color: $blue-primary;
  height: calc(100vh - 80px);
}
.loginForm1 {
  @include margin-setter(null, null, null, null);
  padding: 30px;
  @include flexcenter-column();
  background-color: $white-primary;
  h2 {
    @include font-styler("Roboto", 24px, 700, $text-primary);
  }
  .form-group {
    > label {
      @include font-styler("Roboto", 14px, 500, $black-primary);
    }
  }
}

:host ::ng-deep .p-button {
  background-color: $blue-primary;
}
:host ::ng-deep .p-button-label {
  color: $white-primary;
}
.login-btn {
  padding: 12px 75px;
}

/***********THEMING******************/

@mixin set-theme($map) {
  .header-main {
    background-color: map-get-value($map, background-color);
  }
  .login-btn {
    background-color: map-get-value($map, button-color);
    color: map-get-value($map, button-text-color);
    border: 2px solid map-get-value($map, button-color);
    &:hover {
      cursor: pointer;
      background-color: map-get-value($map, button-hover-color);
      border: 2px solid map-get-value($map, button-hover-color);
    }
    i {
      background-color: map-get-value($map, button-color);
      color: map-get-value($map, button-text-color);
      &:hover {
        background-color: map-get-value($map, button-hover-color);
      }
    }
  }
}
@mixin set-theme-dark($map) {
  .header-main {
    background-color: map-get-value($map, background-color);
  }
  .loginForm1 {
    background-color: map-get-value($map, background-menu-color);
    h2 {
      color: map-get-value($map, text-color);
    }
    .form-group {
      > label {
        color: map-get-value($map, text-color);
      }
    }
  }
  .login-btn {
    background-color: map-get-value($map, button-color);
    color: map-get-value($map, button-text-color);
    border: 2px solid map-get-value($map, button-color);
    &:hover {
      cursor: pointer;
      background-color: map-get-value($map, button-hover-color);
      border: 2px solid map-get-value($map, button-hover-color);
    }
    i {
      background-color: map-get-value($map, button-color);
      color: map-get-value($map, button-text-color);
      &:hover {
        background-color: map-get-value($map, button-hover-color);
      }
    }
  }
}
.red-theme {
  @include set-theme($red-value-map);
}
.blue-theme {
  @include set-theme($blue-value-map);
}
.green-theme {
  @include set-theme($green-value-map);
}
.dark-theme {
  @include set-theme-dark($dark-value-map);
}
.default-theme {
  @include set-theme($default-value-map);
}
