@import "./../variables";
$blue-value-map: (
  name: "blue-theme",
  text-color: $white-primary,
  background-color: $blue-theme-primary,
  button-color: $blue-theme-primary,
  button-hover-color: $blue-theme-light,
  button-text-color: $white-primary,
  body-bg-color: $white-primary,
  cancel-button-text-color: $grey-text-cancel,
  cancel-button-outline-color: $grey-text-outline,
  cancel-button-hover-color: $white-bg,
);
