@import "./../variables";
$red-value-map: (
  name: "red-theme",
  text-color: $white-primary,
  background-color: $red-primary,
  button-color: $red-primary,
  button-hover-color: $orange-primary,
  button-text-color: $white-primary,
  body-bg-color: $white-primary,
  cancel-button-text-color: $grey-text-cancel,
  cancel-button-outline-color: $grey-text-outline,
  cancel-button-hover-color: $white-bg,
);
