@import "./../styles/variables";
@import "./../styles/mixins";
@import "./../../styles.scss";

.header {
  @include flexcenter-row();
  justify-content: space-between;
  align-items: flex-start;
  @include margin-setter(29px, 25px, null, null);
  padding: 0px 40px;
  .header-title {
    h1 {
      text-align: left;
      @include font-styler("Roboto", 25px, 700, $purple-primary);
    }
  }
  .btn {
    padding: 6px 75px;
    i {
      padding: 7px;
      margin: 5px;
      border-radius: 50%;
    }
  }
}

.p-dialog-header-close-icon {
  display: none;
}
.dialog-header {
  @include flexcenter-row();
  margin-left: 220%;
  white-space: nowrap;
}
.dialog-header-pic {
  > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    @include margin-setter(-10px, null, 11px, null);
  }
}

.p-calendar,
.p-dropdown.p-component,
.p-multiselect.p-component {
  width: 100%;
}
.p-multiselect-panel {
  position: absolute;
  width: 10%;
}
.p-dialog .p-dialog-content {
  padding: 0 1.5rem 2rem 1.5rem;
  padding-bottom: 0rem;
}
.p-dialog .p-dialog-header {
  border-bottom: 1px solid $grey-hr-underline;
}
.p-dialog .p-dialog-footer {
  padding: 1rem 0 0 1.5rem;
  border-top: 1px solid $grey-hr-underline;
}
// ***** NEW BOOTSRAP ***********
.row > div {
  margin-bottom: 20px;
  > label {
    @include font-styler("Roboto", 14px, 400, $black-text);
  }
}
.finishReview {
  &-1 {
    .finishReviewNo {
      margin-left: 31px;
    }
  }
}
.studentViewTable {
  border-collapse: separate;
  td {
    border: 1px solid $white-primary;
    @include font-styler("Roboto", 16px, 500, $text-dark);
    padding: 0.9rem 1rem;
  }
  td:nth-child(4) {
    border-right: 150px solid transparent;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  .studentViewName {
    @include flexcenter-row();
    justify-content: left;
    @include margin-setter(20px, null, null, null);
    h1 {
      @include font-styler("Roboto", 16px, 500, $blue-primary);
    }
  }
  .studentViewAddress {
    white-space: nowrap;
  }
  .propic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    @include margin-setter(-10px, null, 11px, null);
  }
}
.studentViewTableHeader {
  border-collapse: separate;
  th {
    @include font-styler("Roboto", 12px, 500, $grey-text);
  }
  th:nth-child(4) {
    border-right: 150px solid $white-bg;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
}

/***********THEMING******************/

@mixin set-theme($map) {
  .btn {
    background-color: map-get-value($map, button-color);
    color: map-get-value($map, button-text-color);
    border: 2px solid map-get-value($map, button-color);
    &:hover {
      cursor: pointer;
      background-color: map-get-value($map, button-hover-color);
      border: 2px solid map-get-value($map, button-hover-color);
    }
    i {
      background-color: map-get-value($map, button-color);
      color: map-get-value($map, button-text-color);
    }
  }
  .cancel-btn {
    background-color: map-get-value($map, button-text-color);
    color: map-get-value($map, cancel-button-text-color);
    border: 2px solid map-get-value($map, cancel-button-outline-color);
    &:hover {
      cursor: pointer;
      background-color: map-get-value($map, cancel-button-hover-color);
      border: 2px solid map-get-value($map, cancel-button-hover-color);
      color: map-get-value($map, cancel-button-text-color);
    }
  }
}

@mixin set-theme-dark($map) {
  .studentViewName {
    h1 {
      color: map-get-value($map, text-color);
    }
  }
  .header-title {
    h1 {
      color: map-get-value($map, text-color);
    }
  }
  .btn {
    background-color: map-get-value($map, button-color);
    color: map-get-value($map, button-text-color);
    border: 2px solid map-get-value($map, button-color);
    &:hover {
      cursor: pointer;
      background-color: map-get-value($map, button-hover-color);
      border: 2px solid map-get-value($map, button-color);
    }
    i {
      background-color: map-get-value($map, button-color);
      color: map-get-value($map, button-text-color);
    }
  }
  .cancel-btn {
    background-color: map-get-value($map, button-text-color);
    color: map-get-value($map, cancel-button-text-color);
    border: 2px solid map-get-value($map, cancel-button-outline-color);
    &:hover {
      cursor: pointer;
      background-color: map-get-value($map, button-color);
      border: 2px solid map-get-value($map, button-color);
      color: map-get-value($map, body-bg-color);
    }
  }
  .card {
    border: 1px solid map-get-value($map, background-color);
  }
  .p-datatable .p-datatable-thead > tr > th {
    border: 1px solid map-get-value($map, background-color);
    background: map-get-value($map, background-menu-color);
    color: map-get-value($map, text-color);
  }
  .p-datatable .p-datatable-tbody > tr {
    background: map-get-value($map, background-color);
    color: map-get-value($map, text-color);
    > td {
      color: map-get-value($map, text-color);
      border: 1px solid map-get-value($map, background-color);
    }
  }
  .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
    background: map-get-value($map, background-menu-color);
  }
  .row > div > label {
    color: map-get-value($map, text-color);
  }
  .p-dialog {
    .p-dialog-header,
    .p-dialog-content,
    .p-dialog-footer {
      background: map-get-value($map, background-menu-color);
      color: map-get-value($map, text-color);
    }
  }
}
.red-theme {
  @include set-theme($red-value-map);
}
.blue-theme {
  @include set-theme($blue-value-map);
}
.green-theme {
  @include set-theme($green-value-map);
}
.dark-theme {
  @include set-theme-dark($dark-value-map);
}
.default-theme {
  @include set-theme($default-value-map);
}
